@(contacts: List[models.Contact],contact : Form[models.Contact])

@layout {

    <h2>New Contact</h2>

    @helper.form(action=routes.Contacts.create) {

       @helper.inputText(contact("name"),'_label -> "Name")
       @helper.inputText(contact("emailAddress"),'_label -> "Email Address")

       <input type="submit" value="New Contact" />

    }

<table>
    <thread>
        <tr>
            <th>Name</th>
            <th>Email Address</th>
        </tr>
    </thread>
    <tbody>
    @contacts.map { contact =>
    <tr>
        <td>@contact.name</td>
        <td>@contact.emailAddress</td>
        <td>
            <a href='@routes.Contacts.edit(contact.id)'>Edit</a>
        </td>
        <td>
            @helper.form(action=routes.Contacts.delete(contact.id)){
                <input type="submit" value="Delete"/>
            }
        </td>

    </tr>
    }
    </tbody>
</table>
}
